{% extends 'base.html' %}

{% block contenu %}
    <h1>Page d'accueil de {{ collaborateur.username }} (collaborateur faisant partie du secteur {{ collaborateur.codeSecteur.pk }})</h1>
    <h2>Informations</h2>
    <ol class="list-group list-group-numbered">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
            <div class="fw-bold">Matricule</div>
                {{ collaborateur.matricule }}
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
            <div class="fw-bold">E-mail</div>
                {{ collaborateur.email }}
            </div>
        </li>
    </ol>
    <a href="{{id_collaborateur}}/testquiz">Quiz</a>
{% endblock %}
